body{
    /* background-color: #858585; */
}

#questionpannel
{
float: left;
    position: relative;
    /* height: 100%; */
    padding-top:0%;
    padding-bottom:0%;
   background-color: #f0f4c3;
    padding-left: 0em;
    margin: 0;
    /* border: 1px solid #11473cf5; */
    border-radius: 5px;
    box-shadow: #212121;
    line-height: 10%;
    text-align: left;
    height: 1025px;
    
}
li{
    padding:14px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 20px;
    list-style: none;
    
}
a{color: rgb(5, 5, 5);}
 ol li :hover{
     background-color: rgb(231, 217, 154);
     border-radius: 5%;
}

div.answers{
    border-radius: 5px;
    padding: 1px;
    /* position: relative; */
    top:0;
 /* display: inline-block; */
 /* float:  right; */
 /* width: 500px; */
    background-color: #e8f5e9;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 

}
.one{
    border: 1px solid rgba(233, 194, 194, 0.952);
    border-radius: 1px;
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 10px
    
}
.two{
    border: 1px solid rgba(233, 194, 194, 0.952);
    border-radius: 1px;
    grid-area: 2 / 2 / 3 / 3;
    padding-left: 10px
}
    .three{
        border: 1px solid rgba(233, 194, 194, 0.952);
        border-radius: 1px;
    grid-area: 3 / 2 / 4 / 3;
    padding-left: 10px

    }
    .four{
        border: 1px solid rgba(233, 194, 194, 0.952);
        border-radius: 1px;
        grid-area: 4 / 2 / 5 / 3;  
        padding-left: 10px
    }
        .five{
            grid-area: 5 / 2 / 6 / 3;
            border: 1px solid rgba(233, 194, 194, 0.952);
            border-radius: 1px;
            padding-left: 10px

            


        }
        .six{
            border: 1px solid rgba(233, 194, 194, 0.952);
            border-radius: 1px;
            grid-area: 6 / 2 / 7 / 3;
            padding-left: 10px

        }